.nav {
    background-color: #9c3c3c;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    @media (max-width: 661px) {
        flex-wrap: wrap;
    }
}
.NavLink {
    list-style: none;
    border: 2px solid #678765;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 5px 10px;
    background: #4e65c1;
    font-size: 20px;
    color: aqua;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    @media (max-width: 768px) {
        margin: 5px;
        padding: 5px;
    }
    @media (max-width: 661px) {
        min-width: 267px;
    }
}

.NavLink:hover {
    background: #0b1d66;
    color: rgb(45, 170, 170);
}
.NavLink:active {
    background: #0a1b5c;
}
a.active {
    color: rgb(145, 22, 98);
    background: #0a1b5c;
}
